.strip {
  border-top: 7px solid #daa520;
}

:root {
  --color-body: #daa520;
  --color-heading: #333333;
  --color-links: black;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
html,
body {
  font-family: "Fira Sans", sans-serif;

  /* line-height: 1.5; */
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
  overflow-x: hidden;
  top: 0;
  left: 0;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

/* ----------navigation classes-------------- */
#navbarSupportedContent {
  margin-right: 8rem;
}

a:hover {
  color: var(--color-body) !important;
}

.nav-link {
  color: var(--color-links) !important;
  padding: 2rem !important;
  line-height: 1px;
}

/*-------------- Content on images section------------- */
.wcl {
  position: absolute;

  margin: 0;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 2.5rem;
}

.carousel-caption {
  padding-top: 13rem;
}

.immg-hm:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.custom-btn {
  width: 180px !important;
  border: 1px solid #fff !important;

  color: #fff;
  vertical-align: middle;
}

/* ----------------margin line gold----------------- */
.line {
  margin-bottom: 4rem;
  border-bottom: 4px solid var(--color-body);
  margin-left: 10%;
  margin-right: 10%;
}

/* card section */
.card-text {
  padding-top: 1rem;
  color: var(--color-heading);
}
.card-deck {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.card:hover {
  background-color: #ffecbb;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.cards-groups {
  margin-top: 6rem;
  margin-bottom: 5rem;
}

/*---------------- 6 box with icons------------------------------ */
.p-heading {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  color: var(--color-heading);
}
.icon-box {
  cursor: pointer;
}
.icon-box-text {
  font-weight: bold;
}
.box-text {
  font-weight: bold;
}

.box-title {
  text-align: center;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #333333;
}
.box-title:hover {
  color: var(--color-body);
}

.yrlogo img {
  background-color: transparent !important;
}

/* colored bar(--------------------------) section */
.Crsm {
  border-bottom: 2rem solid var(--color-heading);
  margin-bottom: 4rem;
  margin-left: 3%;
  margin-right: 3%;
  /* transform: skew(-30deg); */
}

.feature-text {
  text-align: center;
  font-weight: bold;
}

/* ------------small slider css ---------------------------------*/
.cardss-title {
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  color: #333333;
  font-weight: bold;
}

.carousel-inner {
  margin-top: 0;
}

/* box shadow */
.shadow {
  box-shadow: 5px 5px 5px 5px #777777;
  cursor: pointer;
}

/* aus section work */
#choose {
  margin: 2em 0;

  cursor: pointer;
  color: var(--color-heading);
}
.btn-custom {
  background: #daa520;
  color: #fff;
  font-weight: 600;
  margin-top: 15px;
  display: inline-block;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

/* forms section */
#contact-us {
  text-align: center;
  padding: 3em 0;
  color: var(--color-heading);
}

/* footer section */
#footer {
  background: #333333;
  padding-top: 6em;
  padding-bottom: 4em;
}
.footer-copyright {
  color: #fff;
}
.widget-title {
  color: #fff;
}
