<!-- 2 columns AND 3 ROWS CARDS GROUP   -5 -->
<div class="container">
  <h1 class="p-heading">OUR PRODUCTS</h1>
  <div class="row row-cols-3 row-cols-md-2">
    <div class="col mb-4">
      <div class="icon-box">
        <img src="ABF images/CG1.jpg" class="card-img-top" alt="..." />
        <div class="box-body">
          <h5 class="box-title">WOOD BLINDS</h5>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="icon-box">
        <img src="ABF images/CG2.jpg" class="card-img-top" alt="..." />
        <div class="box-body">
          <h5 class="box-title">VERTICAL BLINDS</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-3 row-cols-md-2">
    <div class="col mb-4">
      <div class="icon-box">
        <img src="ABF images/CG3.jpg" class="card-img-top" alt="..." />
        <div class="box-body">
          <h5 class="box-title">ROMAN BLINDS</h5>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="icon-box">
        <img src="ABF images/CG4.jpg" class="card-img-top" alt="..." />

        <div class="box-body">
          <h5 class="box-title">SHUTTER BLINDS</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-3 row-cols-md-2">
    <div class="col mb-4">
      <div class="icon-box">
        <img src="ABF images/CG5.jpg" class="card-img-top" alt="..." />
        <div class="box-body">
          <h5 class="box-title">ROOF BLINDS</h5>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="icon-box">
        <img src="ABF images/CG6.jpg" class="card-img-top" alt="..." />

        <div class="box-body">
          <h5 class="box-title">ROLLER BLINDS</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END -->
