<!-- box slider   -7 -->

<section class="pt-6 pb-5">
  <div class="container">
    <div class="col-12">
      <div
        id="carouselExampleIndicators2"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-4 mb-3">
                <div class="box">
                  <img
                    class="img-fluid shadow"
                    alt="100%x280"
                    src="ABF images/small slider pics/imp1.jpg"
                  />
                  <div class="card-body">
                    <h4 class="cardss-title">Vertical Blinds</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-4 mb-3">
                <div class="box">
                  <img
                    class="img-fluid shadow"
                    alt="100%x280"
                    src="ABF images/small slider pics/imp2.jpg"
                  />
                  <div class="card-body">
                    <h4 class="cardss-title">Light Filtering Roman</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-4 mb-3">
                <div class="box">
                  <img
                    class="img-fluid shadow"
                    alt="100%x280"
                    src="ABF images/small slider pics/imp4.jpg"
                  />
                  <div class="card-body">
                    <h4 class="cardss-title">Sunsecreen Roller Blind</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-4 mb-3">
                <div class="box">
                  <img
                    class="img-fluid shadow"
                    alt="100%x280"
                    src="ABF images/small slider pics/imp5.jpg"
                  />
                  <div class="card-body">
                    <h4 class="cardss-title">Light Filtering Roller Blind</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-4 mb-3">
                <div class="box">
                  <img
                    class="img-fluid shadow"
                    alt="100%x280"
                    src=" ABF images/small slider pics/imp4.jpg"
                  />
                  <div class="card-body">
                    <h4 class="cardss-title">Black out Roller Blind</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-4 mb-3">
                <div class="box">
                  <img
                    class="img-fluid shadow"
                    alt="100%x280"
                    src=" ABF images/small slider pics/imp5.jpg"
                  />
                  <div class="card-body">
                    <h4 class="cardss-title">Faux Wood Venetians</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-4 mb-3">
                <div class="box">
                  <img
                    class="img-fluid shadow"
                    alt="100%x280"
                    src=" ABF images/small slider pics/imp2.jpg"
                  />
                  <div class="card-body">
                    <h4 class="cardss-title">Block Out Fabric Samples</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-4 mb-3">
                <div class="box">
                  <img
                    class="img-fluid shadow"
                    alt="100%x280"
                    src=" ABF images/small slider pics/imp4.jpg"
                  />
                  <div class="card-body">
                    <h4 class="cardss-title">vertical Blind 89mm</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-4 mb-3">
                <div class="box">
                  <img
                    class="img-fluid shadow"
                    alt="100%x280"
                    src=" ABF images/small slider pics/imp4.jpg"
                  />
                  <div class="card-body">
                    <h4 class="cardss-title">Sunsecreen Roller Blind</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 text-right">
      <a
        class="btn btn-secondary mb-3 mr-1"
        href="#carouselExampleIndicators2"
        role="button"
        data-slide="prev"
      >
        <i class="fa fa-arrow-left"></i>
      </a>
      <a
        class="btn btn-secondary mb-3"
        href="#carouselExampleIndicators2"
        role="button"
        data-slide="next"
      >
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </div>
</section>
