<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <!-- indicators -->
  <ol class="carousel-indicators">
    <li
      data-target="carouselExampleControls"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="carouselExampleControls"></li>
  </ol>

  <!-- indicators complete -->

  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="2000">
      <img
        src="ABF images/dell-pduutGbL2-M-unsplash (1).jpg"
        class="d-block w-100"
        alt="First slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2>Welcome to Austrailian Blind Factory</h2>
        <button type="button" class="btn btn-trasparent">Learn more</button>
      </div>

      <!-- cation on slider -->
    </div>
    <div class="carousel-item" data-interval="2000">
      <img
        src="ABF images/dell-1gLdTsX3_70-unsplash.jpg"
        class="d-block w-100"
        alt="Second slide"
      />
      <div class="carousel-caption d-none d-md-block text-center">
        <h2>Welcome to Austrailian Blind Factory</h2>

        <button type="button" class="btn btn-transparent">Learn more</button>
      </div>
    </div>

    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
