<!-- navigation menu -1-->
<header class="header">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <img src="ABF images/ABF-Logo-1.png" alt="" />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link saim" href="#"
            >Home <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"
            >About us <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Product
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Guide/Help
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">About</a>
            <a class="dropdown-item" href="#">Contact us</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">FAQ</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"
            >Contact us <span class="sr-only">(current)</span></a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- end of navigation bar -->
