<!-- 2 grids section work (why chose)  -8 -->
<section id="choose">
  <div class="container">
    <div class="choose-con">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="disc-wc">
            <h4>Why Choose</h4>
            <h1>Australian Blind Factory</h1>
            <p>
              <span style="color: rgb(33, 37, 41)"
                >Australian Blind Factory is a local, family-owned company that
                supplies Australian made window furnishings including roller
                blinds, aluminium venetian blinds, faux wood venetians, roman
                blinds, vertical blinds and panel glides. Our products are
                manufactured to the very highest standards, and have been tried
                and tested by the Australian market for over 30 years.</span
              >
            </p>

            <a href="#" class="btn btn-custom">Read more</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-right-side">
            <img src="ABF images/aus 1.png" alt="Australian Blind Factory" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
